.products.grid{
    max-width: $max-content-width;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding-bottom: 10rem;
    z-index: 5;
    .card{
        display: flex;
        flex-direction: column;
        background-color: var(--off-white);
        border-radius: 1rem;
        overflow: hidden;
        backdrop-filter: blur(50px);
        box-shadow: 0 0 10px var(--off-white);
        animation: scale-up .5s ease-in-out;
        .card-container{
            padding: 1rem 1rem 2rem;
            height: 100%;
        }
        .title{
            font-size: $x-large;
            margin-bottom: 1rem;
            text-align: center;
            color: var(--off-black);
            min-height: 5rem;
        }
        .sku{
            text-align: center;
        }
        .points{
            font-weight: $light;
            line-height: 1.5;
            .point{
                margin-top: .5rem;
                padding-left: 1.25rem;
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    left: .25rem;
                    top: .5rem;
                    background-color: var(--white);
                    width: 7px;
                    height: 7px;
                    border-radius: 1px;
                    transform: rotate(35deg);
                }
            }
        }
    }
    @media screen and (min-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}